.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dashboard-container {
  margin-top: 4rem;
  padding: 0 10vw;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 700px) {
  .dashboard-container {
    margin-top: 4rem;
    padding: 0 2rem;
  }
  #dashboard-grid {
    flex-direction: column;
  }
  .center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
  }

  .xs-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
