.profile-name-container {
  margin-top: 3rem;
  background-image: linear-gradient(
    115deg,
    #26294c 0%,
    #26294c 60%,
    #343b64 60%,
    #343b64 100%
  );
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}
#profile-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#info-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#profile-info {
  width: 20rem;
  background-color: #343b64;
  padding: 1rem;
}
