.profile-name-container {
  margin-top: 3rem;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}
#profile-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#info-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#profile-info {
  width: 20rem;
  background-color: #343b64;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
