.name-container {
  margin-top: 1.5em;
  background-image: linear-gradient(
    115deg,
    #155fa0 60%,
    #1769aa calc(60% + 0.31px)
  );
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.technical-container {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-of-expences,
.sum-expences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  color: #fff;
  font-weight: 300;
}

.number-of-expences {
  background-color: #0990ad;
}

.sum-expences {
  background-color: #00ccb9;
}
.number-of-expences > div:first-of-type,
.sum-expences > div:first-of-type {
  font-size: 2rem;
}

.currency {
  text-align: right;
  width: 5rem;
  margin-top: -0.5rem;
  font-size: 0.7rem;
  margin-bottom: -0.2rem;
}
