.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: transparent;
  min-width: 100%;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
}

.card--content {
  background-color: #fff;
  min-width: 200px;
  margin: 8px;
}

#card::-webkit-scrollbar {
  display: none;
}
