#landing-page-container {
  padding: 5vw 5vw;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 875px) {
  #landing-page-container {
    margin-top: -4rem;
  }
  #signin-container {
    margin-top: 7rem;
  }
}
