#header {
  margin-top: -.4em
}

#main-subheader {
  color: #fff;
  margin-top: .5em
}
#register-now-btn {
  margin-bottom: 1em;
  margin-top: 2em;
  background-color: #2196f3;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {


  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  #register-now-btn {
    margin-bottom: 1em;

  }

  #main-subheader {
    color: rgba(0, 0, 0, 0.8);
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
  }
}
