#header {
  color: #fff;
  font-weight: 300;
}

#main-subheader {
  margin-top: 0.5em;
}
#register-now-btn {
  margin-bottom: 1em;
  margin-top: 2em;
  background-color: #e91e63;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 875px) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    /* margin-top: 2rem; */
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  #register-now-btn {
    margin-bottom: 3em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}
/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  #register-now-btn {
    margin-bottom: 0;
  }

  #header-container {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  #header {
    font-size: 1rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 0.5rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  #register-now-btn {
    margin-bottom: 1em;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }

  #header {
    font-size: 2.5rem;
  }

  #main-subheader {
    color: #fff;
    font-size: 1rem;
  }

  #buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
